.expenses-filter {
  color: white;
  padding: 0 1rem;
   margin: 2rem auto;
  width: 50rem;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:space-between;
  margin: 1rem 0;
  }

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  margin-right: 10em;
}
@media(max-width:683px){
.expenses-filter select{
   margin-right: 19em;
}
}
@media(max-width:519px){
.expenses-filter select{
   margin-right: 30em;
}
}
@media(max-width:400px){
.expenses-filter__control label {
padding-left: 0;
  }
  .expenses-filter select {
   padding: 0.5rem 0;  
}
.expenses-filter {
  color: white;
   margin: 2rem 0;
  width: 43rem;
}
}